.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: orange;
}

.content {
  background: #383c44;
  padding: 10px;
  text-align: left;
  max-width: 1080px;
}

.content h2 {
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav ul li a:hover {
  background-color: #111;
}

/* Container for synthesis pages */
.container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    color:white;
}

.pageInformation {
  height:100%;
}