/* SLIDER */

.sliderBox {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.sliderLabel {
    color: white;
    width: 140px;
}

.sliderValue {
    color: white;
    width: 110px;
}

input[type="range"] {
    width: 100%;
}